/* Main Container */
.ourPhilosophy{
    background-color: #0087ff;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 5.5rem;
    background-size: cover;
    }
/* /////////////////////////////// */