/* MAIN FOOTER DIV */

.footer{
display: flex;
flex-direction: row;
justify-content: center;
}

.footer-main-div {
    width: 100%;
    border: 55px solid rgb(45, 4, 70);
    box-sizing: border-box;
  }